{% extends 'service/base.html' %}
{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
        </div>
    </div>
<h1>Completed services</h1>

<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <div class="list-group">
    {% for service in services %}
        <a href="{% url 'viewservice' service.id %}" class="list-group-item list-group-item-action{% if service.important %}list-group-item-danger{% endif %}"><b>{{ service.customer }}</b> - Completed  - {{ service.item }} {{ service.datecompleted|date:'M j Y H:i' }}</a>
        
    {% endfor %}
</div>
</div>
</div>
{% endblock %}